<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS-->
        <link rel="stylesheet" href="{% static 'leaflet.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        {% block CSS_IMPORT %}{% endblock CSS_IMPORT %}
        
        <!--Scripts-->
        <script src="{% static "leaflet.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% block SCRIPT_IMPORT %}{% endblock SCRIPT_IMPORT %}
        <style>
           {% block CSS_CODE %}{% endblock CSS_CODE %}
        </style>
    </head>
    <body>
       
        {% block BODY %}{% endblock BODY %}

       <script>
            {% block SCRIPT_CODE %}{% endblock SCRIPT_CODE %}
       </script>
    </body>
</html>
